<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.sist.mapper.InteMapper">
	
	<select id="inteListData" resultType="InteVO" parameterType="hashmap">
	  SELECT ino,title,poster,subject,jiyoek,price,gubun,suggest,num 
	  FROM (SELECT ino,title,poster,subject,jiyoek,price,gubun,suggest,rownum as num 
	  FROM (SELECT ino,title,poster,subject,jiyoek,price,gubun,suggest 
	  FROM inte_detail 
	   <if test="column!='all'">
	    WHERE ${column} LIKE '%'||#{fd}||'%' 
	   </if>
	  ORDER BY ino ASC)) 
	  WHERE num BETWEEN #{start} AND #{end}
	</select>
	
	<select id="inteTotalPage" resultType="int" parameterType="hashmap">
	 SELECT CEIL(COUNT(*)/12.0)
	 FROM inte_detail
	 <if test="column!='all'">
	   WHERE ${column} LIKE '%'||#{fd}||'%' 
	 </if>
	</select>
	
</mapper>