# Created by https://www.toptal.com/developers/gitignore/api/eclipse,java
# Edit at https://www.toptal.com/developers/gitignore?templates=eclipse,java

pom.properties

MANIFEST.MF

### Eclipse ###
.metadata
