<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
    <typeAliases>
      <typeAlias type="com.sist.vo.InteVO"/>
      <typeAlias type="com.sist.vo.CleanVO" alias="CleanVO"/>
 	  <typeAlias type="com.sist.vo.MoveVO" alias="MoveVO"/>
 	  <typeAlias type="com.sist.vo.MemberVO" alias="MemberVO"/>
 	  <typeAlias type="com.sist.vo.EstateDetailVO" alias="EstateDetailVO"/>
    </typeAliases>
    
   <mappers>
 	  <mapper resource="com/sist/mapper/inte-mapper.xml"/>
 	  <mapper resource="com/sist/mapper/clean-mapper.xml"/>
  	  <mapper resource="com/sist/mapper/move-mapper.xml"/>
  	  <mapper resource="com/sist/mapper/member-mapper.xml"/>
 	</mappers> 
 </configuration>